/* Variables */

:root {
  --main-color: #e3e3e3;
}

/* Main */

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  margin: 0;
  padding: 0;
}

body #content {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

/* Cards */

.card {
  height: 500px;
  width: 350px;
  border-radius: 15px;
  background-color: var(--main-color);
  margin: 20vh auto;
}
