/* Variables */

:root {
  --main-color: #e3e3e3;
}

/* Main */

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

body,
html {
  overflow: hidden;
}

#content {
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* Cards */

.card {
  height: 500px;
  width: 350px;
  border-radius: 15px;
  background-color: var(--main-color);
  margin: 20vh auto;
}
