/* Variables */

:root {
  --main-color: #e3e3e3;
  --site-padding: 25px;
  --top-bar-height: 15vh;
  --bottom-bar-height: 15vh;
}

/* Main */

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

body,
html {
  overflow: hidden;
}

body {
  font-size: 14px;
  font-family: "Muli", sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

#container {
  height: 100vh;
  width: 100vw;
  max-width: 420px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

#content {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  z-index: 100;
  position: relative;
}

/* Top Bar */

#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--top-bar-height);
  background-color: lightgrey;
  z-index: 90;
}

/* Bottom Bar */

#bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--bottom-bar-height);
  background-color: lightgrey;
  z-index: 90;
}

/* Cards */

.card-container {
  height: 100%;
  overflow: visible;
  padding-left: var(--site-padding);
  padding-right: var(--site-padding);
  padding-top: calc(var(--top-bar-height) + 15px);
  padding-bottom: calc(var(--bottom-bar-height) + 15px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.card {
  height: 62vh;
  max-height: 460px;
  width: 100%;
  border-radius: 15px;
  background-color: var(--main-color);
  z-index: 100;
}

.card-content {
  display: grid;
  grid-template-areas:
    "card-symbols card-title card-title"
    "card-symbols . ."
    "card-symbols . .";
  grid-gap: 10px;
  padding: 15px;
}

.card-content .card-symbols {
  text-align: left;
  grid-area: card-symbols;
}

.card-content .card-title {
  text-align: right;
  grid-area: card-title;
}
